*{
    position: relative;
    z-index:0;
}


.pokedexPage {

    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;

}


