.canvas {
    position: relative;
    margin-top: -3%;
    padding:0px !important;
    height: 1000px;
    margin-left: 0%;
    margin-right: 0%;
    overflow: hidden;
    background: radial-gradient(#fff, rgba(#FDD900, .25));
    background-size: cover;
    background-position: center 75%;
    background-image: url(http://media-s3-us-east-1.ceros.com/hype-beast/images/2018/07/13/a9a51bc0b8d626db493ab5f9a971b043/background-hero.png);
  }
.canvas div {
  display: flex;
  align-items: center;
height:100%;
width: 100%;}

  svg {
      width: 100%;
      height: 79%;
      visibility: visible;
      overflow: visible !important;
    }
       
  .musicbar {
      display:flex;
      align-content: center;
      visibility: hidden;
  }
  .instructions{
    font-size: 21px;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    padding: 1em 0;
    margin: 0;
  }
  
.pokeball-button {
  z-index:30000;
}
  svg {
    position: absolute;
    top: 50%;
  }
  .pokeball.pulsing
    .pokeball-circle{
      cursor: pointer ;
      transition: 150ms ease-in-out ;
    }
    .pokeball-circle:hover {
        fill: #DD9D9D !important;
      }
    .pokeball-circle-pulse{
      stroke: #00B753 ;
      transform-origin: 193.9px 470.5px ;
      animation: circlePulse 1.5s infinite ;
    }
  
    @keyframes circlePulse {
      0% {
        stroke-width: 10px;
        stroke-opacity: 1;
        transform: scale(1);
      }
      40%, 100% {
        stroke-width: 0;
        stroke-opacity: 0;
        transform: scale(2);
      }
  }
  
  p {
      animation: type 3s steps(70);
      overflow:hidden;
      white-space: nowrap;
      border-right: 4px solid black;
      width: 85ch;
      display:flex;
      margin-block-end: 0%;
      position: fixed;
  }
  
  
  
  @keyframes type {
      0% {
          width:0ch;
      }
      100% {
          width: 70ch;
      }
  }
  
  .pika {
    animation: infinite;
    animation-duration: 7s ;
    animation-name: slidePoke;
    height:50%;
;
    
  
}
  @keyframes slidePoke {
      0%{
        margin-left: 120%;
          }
   

      100% {
        margin-left: -90%;
      }
    }
  
  

  
  
  
  
  
  
  