.contact {
    padding-left: 1em;
    padding-right: 1em;
    width: 95vh;
    margin-top: 10vh;
    margin-bottom: 10px;
  }

  .contactcontainer{
    background-image: url(http://media-s3-us-east-1.ceros.com/hype-beast/images/2018/07/13/a9a51bc0b8d626db493ab5f9a971b043/background-hero.png);

  }
  
  /* Contact image */
  .contact .avatar {
    margin-right: 1em;
    width: 40%;
    height: auto;
  }

  .contactcard{
    background-color: white;
  }

  i {

    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Name */
  .contacth1{
    color: black;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
	  font-size: 50px;
  }

.cards {
  display: flex;
  flex-wrap: wrap;
  z-index: 1000!important;
}