.fightPlace {
    width: 100%;
    height: 100vh;
    margin: auto;
    border-radius: 5px;
    background: url('http://media-s3-us-east-1.ceros.com/hype-beast/images/2018/07/13/a9a51bc0b8d626db493ab5f9a971b043/background-hero.png') no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}


.divFight {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@keyframes slideComputer {
    0% {margin-right:-40px;
    }

    75% { margin-right:-100px;
    }
    100% {margin-right:200px;
    }
}
@keyframes slidePerso {
    0% {margin-left:-40px;
    }

    75% { margin-left:-100px;
    }
    100% {margin-left:200px;
    }

}
.attackMove {
    animation-duration: 1.5s;
    animation-name: slidePerso;
}

.attackMoveComputer {
    animation-duration: 1.5s;
    animation-name: slideComputer;
}


/* --------------- C O M P U T E R ------------------- */

.computer {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    width:100%;
    height: 40%;


}

.infosComputerDiv {
    display: flex;
    justify-content: center;
    width: 50%;
}                    

.infosComputer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
    border: 5px solid black;
    border-radius: 10px;
    align-self: center;
    background-color: whitesmoke;
    justify-content: space-around;
}

.nameComputer{
    align-self: flex-end;
    margin-right: 3%;
}

.nes-progress {
    align-self: center;
    height: 20%;
    width: 90%;
}


.currentHPComputer{
    align-self: center;
}



.spriteComputer {
    display: flex;
    justify-content: center;
    width: 50%;
}

.imageComputer {
    width: 20%;
    height: 40%;
    align-self: center;
}






/* ---------------------- P E R S O -------------------------- */

.perso {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    width:100%;
    height: 40%;
}

.spritePerso{
    display: flex;
    justify-content: center;
    width: 50%;
}

.imagePerso {
    width: 25%;
    height: 55%;
    align-self: center;
}

.infosPersoDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}                    

.infosPerso {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
    border: 5px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    justify-content: space-around;
    align-self: center;
}

.namePerso{
    align-self: flex-start;
    margin-left: 3%;
}


.currentHPPerso{
    align-self: center;
}

.attackChoice {
    align-self: center;
    height: 30%;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    border: 4px solid black;
    border-radius: 5px;
    background-color: whitesmoke;

}

.attack {
    display: flex;
    width: 50%;
    height: 50%;

}

.button-attack {
    width: 100%;
    height: 100%;
    font-size: auto;

}

.button-attack:hover {
    background-color:#47C9FB;
}


/* ------------------ L O G   C O M B A T -----------------------*/

.textCombat {
    width: 100%;
    height: 20%;
    border: 8px solid;
    border-radius: 5px;
    bottom: 0;
    background-color: whitesmoke;    
    overflow-y: scroll;
}
