.container {
	display: flex;
	justify-content: space-around ;
	background-color: rgba(255, 255, 255, 0.85);
	flex-wrap: wrap;
	animation-name: test;
	position: absolute;
	bottom: -470px;

}

.clickMe{
	display: none;
}

footer{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}



img {
	width: 100px;
	height: 100px;
}

button{
	font-family: 'Press Start 2P', cursive;
	font-size: 13px;
	border-radius: 3px;
}
.footerbutton{
	position: fixed;
	bottom: 0;
	left:0;
}

hr {
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.divCard {
	display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
	margin-left: 100px;
	margin-right: 100px;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    /* background-color: #d6d6d6; */
    background-color: rgba(255, 255, 255, 0.85);
    align-items: center;
    justify-content: center;
    text-align: center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
